body{
    padding: 30px;
}
input{
    margin-top: 10px;
}
button{
    margin-top: 10px;
}
.ex{
    padding: 20px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px grey;
}
table{
    margin-left: auto;
    margin-right: auto;
}